.bmfw_jinglingtu{ background:url("bmfw_jinglingtu.png") top left no-repeat; }
.深圳社区家园网_r2_c2{ width:224px; height:153px; background-position:-10px -10px; }
.深圳社区家园网_r10_c8{ width:56px; height:56px; background-position:-10px -173px; }
.深圳社区家园网_r10_c6{ width:56px; height:56px; background-position:-76px -173px; }
.深圳社区家园网_r10_c4{ width:56px; height:56px; background-position:-142px -173px; }
.深圳社区家园网_r8_c8{ width:56px; height:56px; background-position:-10px -239px; }
.深圳社区家园网_r8_c6{ width:56px; height:56px; background-position:-76px -239px; }
.深圳社区家园网_r8_c4{ width:56px; height:56px; background-position:-142px -239px; }
.深圳社区家园网_r5_c8{ width:56px; height:55px; background-position:-10px -305px; }
.深圳社区家园网_r5_c6{ width:56px; height:55px; background-position:-76px -305px; }
.深圳社区家园网_r4_c4{ width:56px; height:55px; background-position:-142px -305px; }

